<%= form_for(@lead) do |f| %>
  <% if @lead.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lead.errors.count, "error") %> prohibited this lead from being saved:</h2>

      <ul>
      <% @lead.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :phone %><br>
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :project_id %><br>
    <%= f.number_field :project_id %>
  </div>
  <div class="field">
    <%= f.label :project_name %><br>
    <%= f.text_field :project_name %>
  </div>
  <div class="field">
    <%= f.label :f_1 %><br>
    <%= f.text_field :f_1 %>
  </div>
  <div class="field">
    <%= f.label :g_2 %><br>
    <%= f.text_field :g_2 %>
  </div>
  <div class="field">
    <%= f.label :g_3 %><br>
    <%= f.text_field :g_3 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
