<p id="notice"><%= notice %></p>

<p>
  <strong>B name:</strong>
  <%= @prelaunch.b_name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @prelaunch.phone %>
</p>

<p>
  <strong>City:</strong>
  <%= @prelaunch.city %>
</p>

<%= link_to 'Edit', edit_prelaunch_path(@prelaunch) %> |
<%= link_to 'Back', prelaunches_path %>
