<!DOCTYPE html>
<html>
<head>
  <title>FlatLane | Super Simple Home Search
</title>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name=viewport content="width=device-width, initial-scale=1">
  

</head>
<style type="text/css">
.contentbox {
	margin: 10%;
	}
	/* Temporary*/

</style>
<body >
<%= render "layouts/header" %>
<%= yield %>
<%= render "layouts/footer" %>

</body>
</html>
